@using Syncfusion.EJ2;

@section ControlsSection{
    <div class="control-section">
        <div id='documenteditor_titlebar' class="e-de-ctn-title"></div>
        <ejs-documenteditorcontainer id="container" enableToolbar=true height="590px"></ejs-documenteditorcontainer>
    </div>
    <style>
        #documenteditor_titlebar {
            height: 36px;
            line-height: 26px;
            width: 100%;
            font-size: 12px;
            padding-left: 15px;
            padding-right: 10px;
            font-family: inherit;
        }

        #documenteditor_title_contentEditor {
            height: 26px;
            max-width: 85%;
            width: auto;
            overflow: hidden;
            display: inline-block;
            padding-left: 4px;
            padding-right: 4px;
            margin: 5px;
        }


        .single-line {
            cursor: text !important;
            outline: none;
        }

            .single-line:hover {
                border-color: #e4e4e4 !important;
            }

        [contenteditable="true"].single-line {
            white-space: nowrap;
            border-color: #e4e4e4 !important;
        }


        /** Document editor sample level font icons*/

        @@font-face {
            font-family: 'Sample brower icons';
            font-weight: normal;
            font-style: normal;
        }

        [class^="e-de-icon-"],
        [class*=" e-de-icon-"] {
            font-family: 'Sample brower icons' !important;
        }

        .e-de-icon-Print:before {
            content: "\e723";
        }

        .e-de-icon-Download:before {
            content: "\e728";
        }

        /** sample level font icons ends*/
    </style>
}


@section Scripts{
    <script>
    var documenteditor;
    document.addEventListener('DOMContentLoaded', function () {
        var documenteditorElement = document.getElementById("container");
        var container = documenteditorElement.ej2_instances[0];
        container.showPropertiesPane = true;
        documenteditor = container.documentEditor;
        documenteditorElement.ej2_instances[0].serviceUrl = window.baseurl + 'api/documenteditor/';
        documenteditor.serviceUrl = window.baseurl + 'api/documenteditor/';
        var fetch = new ej.base.Fetch("@Url.Content("~/scripts/documenteditor/data-default.json")", 'GET');
        fetch.send().then();
        fetch.onSuccess = function (data) {
            documenteditor.open(data);
            documenteditor.documentName = 'Getting Started';
            updateDocumentTitle();
        };
        container.documentChange = function (args) {
            updateDocumentTitle();
        };
        titleBarDiv = document.getElementById('documenteditor_titlebar');
        initComponentAndWireEvent();
    });
    </script>
}

