@model SGCApp.Models.ProcedureViewModel

@{
    ViewData["Title"] = "Crear Procedimiento";
    Layout = "~/Views/Shared/_LayoutSGC.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<h2>Crear Procedimiento</h2>

@using (Html.BeginForm("Create", "Procedure", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="FileUpload" class="control-label">Cargar Archivo</label>
        <input type="file" id="FileUpload" name="fileUpload" class="form-control" />
        <span asp-validation-for="FileUpload" class="text-danger"></span>
    </div>

    <div class="button-container">
        <button type="submit" class="btn btn-primary">Guardar Procedimiento</button>
        <a href="@Url.Action("Index", "Procedure")" class="btn btn-secondary">Atrás</a>
    </div>
}

@section Scripts {
    <script>
        document.getElementById('FileUpload').addEventListener('change', function (event) {
            var input = event.target;
            if (input.files && input.files[0]) {
                var fileName = input.files[0].name.split('.').slice(0, -1).join('.');
                document.getElementById('Title').value = fileName;
            }
        });
    </script>
}
