@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - SGC-SYSTEM</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <!-- Your header content -->
    </header>

    <main role="main" class="container">
        <h1 class="text-center">Sistema Control de Documentos y Procedimientos para los Sistemas de Gestion de Calidad</h1>

        <!-- Adding and centering an image -->
        <div class="d-flex justify-content-center">
            <img src="~/images/imag/SGC.jpg" alt="Your Image Description" class="img-fluid" />
        </div>

        <!-- Other content -->
    </main>

    <footer>
        <!-- Your footer content -->
    </footer>
</body>
</html>
